In [ ]:

# this are cred from sql host connection
host="localhost"
user="root"
password="root"
db="college"

#if spark fails you need to do this
https://adoptium.net/   downlaod 11v
need to set this in the environtment Varibles of you system  
Variable name: JAVA_HOME
Variable value: C:\Program Files\Eclipse Adoptium\jdk-11.0.x  (what i used )

In [1]:
!pip install pyspark==3.5.8

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark==3.5.8 in c:\users\gagan_mdfuudn\appdata\roaming\python\python312\site-packages (3.5.8)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in c:\users\gagan_mdfuudn\appdata\roaming\python\python312\site-packages (from pyspark==3.5.8) (0.10.9.7)

In [2]:
!python --version

Python 3.12.4

In [3]:
!java -version

openjdk version "11.0.30" 2026-01-20
OpenJDK Runtime Environment Temurin-11.0.30+7 (build 11.0.30+7)
OpenJDK 64-Bit Server VM Temurin-11.0.30+7 (build 11.0.30+7, mixed mode)

In [6]:
import pyspark
import pandas as pd 
from pyspark.sql import SparkSession

In [7]:
pandas_df = pd.read_csv('Dataset.csv')
pandas_df.head(3)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [10]:
spark = SparkSession.builder.appName("PySpark").getOrCreate()

print("Spark Started Successfully")

Spark Started Successfully

In [11]:
spark

In [12]:
df_pyspark_csv=spark.read.csv('Dataset.csv')

In [13]:
df_pyspark_csv.show(3)

+------+--------------+--------------------+--------+--------------------+----------+-------------+-------------+
|   _c0|           _c1|                 _c2|     _c3|                 _c4|       _c5|          _c6|          _c7|
+------+--------------+--------------------+--------+--------------------+----------+-------------+-------------+
|gender|race_ethnicity|parental_level_of...|   lunch|test_preparation_...|math_score|reading_score|writing_score|
|female|       group B|   bachelor's degree|standard|                none|        72|           72|           74|
|female|       group C|        some college|standard|           completed|        69|           90|           88|
+------+--------------+--------------------+--------+--------------------+----------+-------------+-------------+
only showing top 3 rows

In [14]:
spark.read.option('header','true').csv('Dataset.csv')

DataFrame[gender: string, race_ethnicity: string, parental_level_of_education: string, lunch: string, test_preparation_course: string, math_score: string, reading_score: string, writing_score: string]

In [15]:
type(df_pyspark_csv)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark_csv.head(3)

[Row(_c0='gender', _c1='race_ethnicity', _c2='parental_level_of_education', _c3='lunch', _c4='test_preparation_course', _c5='math_score', _c6='reading_score', _c7='writing_score'),
 Row(_c0='female', _c1='group B', _c2="bachelor's degree", _c3='standard', _c4='none', _c5='72', _c6='72', _c7='74'),
 Row(_c0='female', _c1='group C', _c2='some college', _c3='standard', _c4='completed', _c5='69', _c6='90', _c7='88')]

In [17]:
df_pyspark_csv.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [18]:
df_pyspark_csv=spark.read.csv('Dataset.csv',header=True, inferSchema =True)
df_pyspark_csv.show(5)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race_ethnicity|parental_level_of_education|       lunch|test_preparation_course|math_score|reading_score|writing_score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 5 rows

In [19]:
type(df_pyspark_csv) #type of this is data farme

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark_csv.columns

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score']

In [21]:
df_pyspark_csv.head(3)

[Row(gender='female', race_ethnicity='group B', parental_level_of_education="bachelor's degree", lunch='standard', test_preparation_course='none', math_score=72, reading_score=72, writing_score=74),
 Row(gender='female', race_ethnicity='group C', parental_level_of_education='some college', lunch='standard', test_preparation_course='completed', math_score=69, reading_score=90, writing_score=88),
 Row(gender='female', race_ethnicity='group B', parental_level_of_education="master's degree", lunch='standard', test_preparation_course='none', math_score=90, reading_score=95, writing_score=93)]

In [22]:
df_pyspark_csv.select('gender')

DataFrame[gender: string]

In [23]:
df_pyspark_csv.select('gender').show(5)

+------+
|gender|
+------+
|female|
|female|
|female|
|  male|
|  male|
+------+
only showing top 5 rows

In [24]:
df_pyspark_csv.select(['gender','lunch']).show(5)

+------+------------+
|gender|       lunch|
+------+------------+
|female|    standard|
|female|    standard|
|female|    standard|
|  male|free/reduced|
|  male|    standard|
+------+------------+
only showing top 5 rows

In [25]:
#slicing in not work in spark

In [26]:
df_pyspark_csv['gender']

Column<'gender'>

In [27]:
df_pyspark_csv.dtypes

[('gender', 'string'),
 ('race_ethnicity', 'string'),
 ('parental_level_of_education', 'string'),
 ('lunch', 'string'),
 ('test_preparation_course', 'string'),
 ('math_score', 'int'),
 ('reading_score', 'int'),
 ('writing_score', 'int')]

In [28]:
df_pyspark_csv.describe()

DataFrame[summary: string, gender: string, race_ethnicity: string, parental_level_of_education: string, lunch: string, test_preparation_course: string, math_score: string, reading_score: string, writing_score: string]

In [29]:
df_pyspark_csv.describe().show()

+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|summary|gender|race_ethnicity|parental_level_of_education|       lunch|test_preparation_course|        math_score|     reading_score|    writing_score|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|  count|  1000|          1000|                       1000|        1000|                   1000|              1000|              1000|             1000|
|   mean|  NULL|          NULL|                       NULL|        NULL|                   NULL|            66.089|            69.169|           68.054|
| stddev|  NULL|          NULL|                       NULL|        NULL|                   NULL|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|         associate's degree|free/reduced|              completed|                 0|                17|               10|
|    max|  male|       group E|           some high school|    standard|                   none|               100|               100|              100|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+

In [30]:
##add col
df_pyspark = df_pyspark_csv.withColumn('total',sum(df_pyspark_csv['math_score','reading_score','writing_score']))

In [31]:
df_pyspark.show(3)

+------+--------------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
|gender|race_ethnicity|parental_level_of_education|   lunch|test_preparation_course|math_score|reading_score|writing_score|total|
+------+--------------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
|female|       group B|          bachelor's degree|standard|                   none|        72|           72|           74|  218|
|female|       group C|               some college|standard|              completed|        69|           90|           88|  247|
|female|       group B|            master's degree|standard|                   none|        90|           95|           93|  278|
+------+--------------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
only showing top 3 rows

In [32]:
#dproperty

df_pyspark=df_pyspark.drop('race_ethnicity')

In [33]:
df_pyspark.show(3)

+------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
|gender|parental_level_of_education|   lunch|test_preparation_course|math_score|reading_score|writing_score|total|
+------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
|female|          bachelor's degree|standard|                   none|        72|           72|           74|  218|
|female|               some college|standard|              completed|        69|           90|           88|  247|
|female|            master's degree|standard|                   none|        90|           95|           93|  278|
+------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
only showing top 3 rows

In [34]:
#renaewm col 

df_pyspark=df_pyspark.withColumnRenamed('gender','sex')

In [35]:
df_pyspark.show(3)

+------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
|   sex|parental_level_of_education|   lunch|test_preparation_course|math_score|reading_score|writing_score|total|
+------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
|female|          bachelor's degree|standard|                   none|        72|           72|           74|  218|
|female|               some college|standard|              completed|        69|           90|           88|  247|
|female|            master's degree|standard|                   none|        90|           95|           93|  278|
+------+---------------------------+--------+-----------------------+----------+-------------+-------------+-----+
only showing top 3 rows

<h2>handelinbg misin gValues </h2>

In [53]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [54]:
df_pyspark.show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|           9|           3.130205|      NULL|     64114|      NULL|     42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          11|               NULL|      NULL|      NULL|      NULL|      NULL|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [66]:
#drop %colors
df_pyspark.drop('sample index').show()

+-------------------+----------+----------+----------+----------+
|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+-------------------+----------+----------+----------+----------+
|           3.689736|         0|         0|         0|         0|
|           3.689736|         0|         0|         0|         0|
|           3.689736|         0|         0|         0|         0|
|           3.689736|         0|         0|         0|         0|
|           3.689736|         0|         0|         0|         0|
|           3.336071|         0|         0|         0|         0|
|            3.29912|     51414|     56774|     26770|     30156|
|           3.214663|     51665|     59398|     38657|     33796|
|           3.167156|     56375|     62603|     46516|     38837|
|           3.130205|      NULL|     64114|      NULL|     42863|
|            3.07742|     57647|     64353|     59028|     41040|
|               NULL|      NULL|      NULL|      NULL|      NULL|
|           3.014076|     65535|     63300|     61901|     51225|
|           3.130205|     65535|     61796|     63314|     51269|
|           3.204106|     54542|     46892|     52118|     59904|
|               NULL|     43720|      NULL|      NULL|      NULL|
+-------------------+----------+----------+----------+----------+

In [69]:
df_pyspark.show

In [39]:
df_pyspark.na.drop().show() #the whole rows will be deleted

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
+------------+-------------------+----------+----------+----------+----------+

In [40]:
# any == how
df_pyspark.na.drop(how="any").show() # if it see a row with null everthing will be droped on that row

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
+------------+-------------------+----------+----------+----------+----------+

In [41]:
df_pyspark.na.drop(how="all").show() # only drop a drop a row if you have all  the values of row as null

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|           9|           3.130205|      NULL|     64114|      NULL|     42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          11|               NULL|      NULL|      NULL|      NULL|      NULL|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [45]:
##threshold

df_pyspark.na.drop(how="any",thresh=2).show() # check for rows where non null values are atleast 2 if it is less than 2 non null values then remove that row

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|           9|           3.130205|      NULL|     64114|      NULL|     42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
+------------+-------------------+----------+----------+----------+----------+

In [46]:
#subset  the coloms that have null values in it corresponing rows values are deleted mostly tthe whoel row 

df_pyspark.na.drop(how="any",subset=['Motor1 PWM']).show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [64]:
df_pyspark.na.drop(how="any",subset=['Motor3 PWM']).show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
+------------+-------------------+----------+----------+----------+----------+

In [70]:
 df_pyspark.na.fill("Missing",['sample index','Motor1 PWM']).show() #if the type of the colom is string it will replace NULL with Missing word and it will only do to particular cloum u sepcify if u dont then u have to keep it empty

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|           9|           3.130205|      NULL|     64114|      NULL|     42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          11|               NULL|      NULL|      NULL|      NULL|      NULL|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [61]:
df_pyspark.na.fill(0).show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|           9|           3.130205|         0|     64114|         0|     42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          11|                0.0|         0|         0|         0|         0|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|           0|                0.0|     43720|         0|         0|         0|
+------------+-------------------+----------+----------+----------+----------+

In [72]:
df_pyspark.show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|           9|           3.130205|      NULL|     64114|      NULL|     42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          11|               NULL|      NULL|      NULL|      NULL|      NULL|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [82]:
# impute mean values to rh NULL vales to make it work 
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Battery voltage (V)','Motor1 PWM','Motor2 PWM','Motor3 PWM','Motor4 PWM'],
                 outputCols=[ "{}_imputed".format(c)for c in ['Battery voltage (V)','Motor1 PWM','Motor2 PWM','Motor3 PWM','Motor4 PWM']]).setStrategy("mean")

In [84]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------------+-------------------+----------+----------+----------+----------+---------------------------+------------------+------------------+------------------+------------------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|Battery voltage (V)_imputed|Motor1 PWM_imputed|Motor2 PWM_imputed|Motor3 PWM_imputed|Motor4 PWM_imputed|
+------------+-------------------+----------+----------+----------+----------+---------------------------+------------------+------------------+------------------+------------------+
|           0|           3.689736|         0|         0|         0|         0|                   3.689736|                 0|                 0|                 0|                 0|
|           1|           3.689736|         0|         0|         0|         0|                   3.689736|                 0|                 0|                 0|                 0|
|           2|           3.689736|         0|         0|         0|         0|                   3.689736|                 0|                 0|                 0|                 0|
|           3|           3.689736|         0|         0|         0|         0|                   3.689736|                 0|                 0|                 0|                 0|
|           4|           3.689736|         0|         0|         0|         0|                   3.689736|                 0|                 0|                 0|                 0|
|           5|           3.336071|         0|         0|         0|         0|                   3.336071|                 0|                 0|                 0|                 0|
|           6|            3.29912|     51414|     56774|     26770|     30156|                    3.29912|             51414|             56774|             26770|             30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|                   3.214663|             51665|             59398|             38657|             33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|                   3.167156|             56375|             62603|             46516|             38837|
|           9|           3.130205|      NULL|     64114|      NULL|     42863|                   3.130205|             31888|             64114|             26792|             42863|
|          10|            3.07742|     57647|     64353|     59028|     41040|                    3.07742|             57647|             64353|             59028|             41040|
|          11|               NULL|      NULL|      NULL|      NULL|      NULL|          3.358693000000001|             31888|             34230|             26792|             24935|
|          12|           3.014076|     65535|     63300|     61901|     51225|                   3.014076|             65535|             63300|             61901|             51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|                   3.130205|             65535|             61796|             63314|             51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|                   3.204106|             54542|             46892|             52118|             59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|          3.358693000000001|             43720|             34230|             26792|             24935|
+------------+-------------------+----------+----------+----------+----------+---------------------------+------------------+------------------+------------------+------------------+

In [92]:
#Filter operations
from pyspark.sql.functions import col

###PMW less or eual50000 of motor 1
df_pyspark.filter(col("Motor1 PWM") < 50000).show() # col

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [94]:
df_pyspark.filter(df_pyspark["Motor1 PWM"] < 50000).show()  # like braket

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [95]:
 df_pyspark.filter("`Motor1 PWM` < 50000").show() #like sql

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [99]:
df_pyspark.filter("`Motor1 PWM` < 50000").select(['Motor1 PWM','Motor2 PWM']).show()#for multiple coloms

+----------+----------+
|Motor1 PWM|Motor2 PWM|
+----------+----------+
|         0|         0|
|         0|         0|
|         0|         0|
|         0|         0|
|         0|         0|
|         0|         0|
|     43720|      NULL|
+----------+----------+

In [98]:
df_pyspark.filter('Motor1 PWM' < 50000).show() #list < int so does not work

TypeError: '<' not supported between instances of 'str' and 'int'

In [103]:
# two or more contdiotn sabs
df_pyspark.filter((df_pyspark["Motor1 PWM"] < 50000 ) & 
                  (df_pyspark["Motor3 PWM"]>=40000)).show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
+------------+-------------------+----------+----------+----------+----------+

In [104]:
# two or more contdiotn sabs
df_pyspark.filter((df_pyspark["Motor1 PWM"] < 50000 ) | 
                  (df_pyspark["Motor3 PWM"]>=40000)).show()

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           0|           3.689736|         0|         0|         0|         0|
|           1|           3.689736|         0|         0|         0|         0|
|           2|           3.689736|         0|         0|         0|         0|
|           3|           3.689736|         0|         0|         0|         0|
|           4|           3.689736|         0|         0|         0|         0|
|           5|           3.336071|         0|         0|         0|         0|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
|        NULL|               NULL|     43720|      NULL|      NULL|      NULL|
+------------+-------------------+----------+----------+----------+----------+

In [106]:
df_pyspark.filter(~(df_pyspark["Motor1 PWM"] < 50000)).show() #not op

+------------+-------------------+----------+----------+----------+----------+
|sample index|Battery voltage (V)|Motor1 PWM|Motor2 PWM|Motor3 PWM|Motor4 PWM|
+------------+-------------------+----------+----------+----------+----------+
|           6|            3.29912|     51414|     56774|     26770|     30156|
|           7|           3.214663|     51665|     59398|     38657|     33796|
|           8|           3.167156|     56375|     62603|     46516|     38837|
|          10|            3.07742|     57647|     64353|     59028|     41040|
|          12|           3.014076|     65535|     63300|     61901|     51225|
|          13|           3.130205|     65535|     61796|     63314|     51269|
|          14|           3.204106|     54542|     46892|     52118|     59904|
+------------+-------------------+----------+----------+----------+----------+